/* icones fontawesome */
 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
/* open sans */
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

 /* navbar */
 .navbar {
	transition: background-color 0.5s ;
 }
 .logo {
	 width: 100%;
 }
 .logo, .navbar-default .navbar-nav > li > a{
	transition: all 0.3s ; 
 }
 .navbar-default .navbar-nav > li > a:hover {
	transition: all 0 ;  
 }
.navbar, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-nav > li > a {
  font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  color: grey;
  border-bottom: 2px #ff9a2e solid;
  padding-bottom: 10px;
}
.navbar-fixed-top.navbar-default .navbar-nav {
	margin-top: 11px;
}
.navbar-fixed-top.navbar-default .navbar-nav > li > a{
	font-size: 12px;
	padding: 5px 12px;
}
.navbar-fixed-top {
	background: white;	
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar-fixed-top .navbar-nav {
	margin-top: 7px;
}
.navbar-fixed-top .logo {
	width: 50%; height: auto;
}
.navbar-fixed-top .logo img {
	width: 100%; height: auto;
}

@media only screen and (min-width : 768px) {
  .navbar-nav {
    float: right;
    margin: 30px 0 0 0;
  }
}
@media only screen and (min-width : 768px) and (max-width: 990px) {
  .navbar-default .navbar-nav > li > a {
    font-size: 12px;
  }
}

/* footer */
.region-footer > section {
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 15% 30px 0;
}
.copyraito {
  background: url(../img/copyraito.png) no-repeat center center;
  min-width: 247px; min-height: 235px;
}
#block-block-1 .btn {
  margin: 0 5px;
}
#block-block-1 .btn a {
	color: white;
}
#block-block-1 .btn:first-child {
  margin-left: 0;
}
#footer-style {
  background: #393939;
  border-bottom: 5px solid #ffa151;
}
.footer {
  border: none;
  color: white;
}
.region-footer .block-title {
  font-size: 23px;
}

/* breadcrumb */
.bread-container {
  background-color: #bcbdc0;
  margin: 15px 0 30px 0;
}
.breadcrumb {
  background-color: transparent;
  border: none;
  padding: 20px 0;
  font-size: 17px;
  text-transform: capitalize;
  margin: 0 auto;
  color: white;
}
.breadcrumb a, .breadcrumb .active, .breadcrumb > li + li:before {
  color: white;
}
.breadcrumb a:hover {
  color: #ffa151;
}

/* btn overrides */
.btn-primary {
  background-color: #ff6c05
}
.btn-primary:hover {
  background-color: #ff9a2e;
}
.btn.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0px 3px 6px;
  font-size: 20px;
  line-height: 1.428571429;
  border-radius: 25px;
  margin: 10px;
  p
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/* sidebar first */
.region-sidebar-first .block-menu {
  margin-bottom: 30px;
  border-bottom: 1px solid #f3f3f3;
}
.region-sidebar-first .block-menu:last-child {
  border: none;
}
.region-sidebar-first .block-title {
  font-size: 17px;
  color: orange;
}
.region-sidebar-first .menu.nav > li > a {
  color: grey;
  background: transparent;
}

/* bootstrap tuhumbnail */
.thumbnail {
  background: none;
  border-radius: 8px;
  border-color: #ff6c05;
  padding: 15px;
  border-width: 3px;
}
.thumbnail h2 {
  font-size: 16px;
  font-weight: bold;
  min-height: 34px;
  
}
.thumbnail .field-name-field-marca {
    width: 100%;
}
.thumbnail .field-name-field-marca a {
  color: #959281;

}

.thumbnail .field-name-field-marca, .thumbnail .field-name-field-preco {
  display: inline-block;
}


/* general */
body {
  font-family: 'Open Sans', Helvetica;
}
img.pull-left {
  margin: 0 30px 30px 0;
}
#page-header {
  background-color: #ffa151;
  text-align: center;
  color: white;
  padding: 15px 0;
}
#page-header span::before {
  content: "\f098";
  font: normal normal normal 22px/1 FontAwesome;
  padding: 0 10px 0 0;
  color: white;
}
a:hover, a:focus {
    color: #ef5c0e;
    text-decoration: underline;
}
a {
    color: #ff9a2e;
}
.node-readmore {
    display: inline-block;
}
.node-readmore a {
  color: white;
}
.node-readmore a:hover {
  text-decoration: none;
}
.field-name-field-preco {
    color: #05d874;
    margin: 16px 0;
    font-size: 30px;
    font-weight: bolder;
}
.view-taxonomy-term .field-name-field-preco {
  font-size: 20px;
}
.field-name-field-preco > * {
  display: inline-block;
}
.field-name-field-preco::before {
  content: "R$ ";
}
.node-novidades .node-readmore a {
  background-color: #ff6c05;
  border-radius: 0; border: 0;
  padding: 8px 10px;
  text-transform: none;
}
.node-readmore a{
  background: #0c3fff;
  color: white;
  border-bottom: 3px solid #021663;
  text-transform: uppercase;
}
.node-readmore a:hover{
  margin-top: 1px;
  border-bottom: 2px solid #021663;

}
#views-bootstrap-thumbnail-2 .row {
    text-align:center;
}

#views-bootstrap-thumbnail-2 .row  > div {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
    width: 
}
@media (min-width: 1200px) {
	#views-bootstrap-thumbnail-2 .row  > div.col-lg-2 {
	    width: 15.666667%;
	}
}
.thumbnail footer li {
  width: 100%;
}
.navbar .btn {
  border-radius: 8px;
  padding: 10px 20px;
}
.navbar-default .navbar-nav > li > a.btn {
  color: white;
  background-color: #ff6c05;
  border-bottom: 5px solid #d35904;
  margin: 0 4px;
}
.navbar-default .navbar-nav > li:nth-child(2) > a.btn {
  background: #05d874;
  border-bottom: 5px solid #008747;
}
.navbar-default .navbar-nav > li:nth-child(3) > a.btn {
  background: #00b8ff;
  border-bottom: 5px solid #008392;
}
.navbar-default .navbar-nav > li:nth-child(4) > a.btn {
  background: #bc40e0;
  border-bottom: 5px solid #962fb4;
}
.navbar-default .navbar-nav > li:nth-child(5) > a.btn {
  background: #efef4f;
  border-bottom: 5px solid #b7b741;
}
.navbar-default .navbar-nav > li > a.btn:hover {
  margin-top: 1px;
  border-bottom-width: 4px;
}
.btn {
  border-radius: 6px;
}
.btn-produtos {
  background-color: #ff6c05;
  color: white;
  border-bottom: 5px solid #d35904;
  padding: 18px 34px;
  font-weight: bold;
  font-size: 13px;
  margin: 20px 0;
}
.btn-produtos:hover {
  margin-top: 21px;
  border-bottom: 4px solid #d35904;
}
#block-views-produtos-block-1 .view-footer {
  text-align: center;
}
.view-fotos-produto .views-field-field-fotos-1 .img-responsive{
  display: inline;
}
.carousel.slide {
	background-color: #bcbdc0;
}
/* pagina produto */

.node-type-produto .field-name-field-fotos .field-item {
  display: inline-block; margin: 10px;
  border: 1px solid #f5f5f5;
  padding: 15px;
}
.node-type-produto .field-name-field-fotos .field-item:first-child {
  margin-left: 0;
}
.field-name-field-descricao-curta {
  color: #c8c7bf;
  font-style: italic;
  font-size: 13px;
  min-height: 100px;
}
.produtos-relacionados {
  border: 1px solid #cccccc;
  border-top: 4px solid orange;
  padding: 10px 20px 20px 20px;
}
.produtos-relacionados .block-title {
  font-size: 20px;
  color: #666666;
  margin-bottom: 15px;
}
.produtos-relacionados .media {
    margin-top: 25px;
}
.show-less {
	max-height: 300px;
	overflow: hidden;
}
.show-less.show-more {
	max-height: inherit;
}
.mostrar {
	cursor: pointer;
}
/* home */
.bemvindo {
  font-weight: lighter;
}
.bemvindo u {
  text-decoration: none;
  font-size: 60px;
}
.front .region-content .block-title {
  color: #bebfc1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}
.front .region-content .block-title::after, .bemvindo u::after {
  display: block;
  width: 120px; height: 4px;
  background: orange;
  content: "";
  margin: 10px auto;
}
.bemvindo u::after {
  width: 300px;
  height: 2px;
  margin: 0 auto;
}
.front .main-container .block {
  margin: 100px 0;
}
.front #block-system-main, #block-block-8, #block-block-7, .form-item-copy {
  display: none;
}

/* novidades */
.view-novidades article header{
  display: none;;
}
.view-novidades .thumbnail {
  padding: 5; border: none;
}
.view-novidades .thumbnail img {
  width: 100%; height: auto;
}
.view-novidades h2 {
  font-weight: bold;
  font-size: 25px;
}
.field-name-field-tag {
  float: left;
}
.view-id-novidades ul.links {
  float: right;
}
.view-id-fornecedores .thumbnail {
  border: 2px dashed #cfcfcf;
  border-radius: 0;
}
#block-block-1 a:nth-child(2) .btn {
  background: #3b5998;
}
#block-block-1 a:nth-child(3) .btn {
   background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}
#block-block-1 a:nth-child(4) .btn {
  background: #dc4e41;
}
#block-block-1 a:hover:nth-child(2) .btn {
  background: #416cc6;
}
#block-block-1 a:hover:nth-child(3) .btn {
  background: radial-gradient(circle at 33% 100%, #f4b836 4%, #f87266 30%, #f54e9c 62%, #d776f2 85%, #7581f0);
}
#block-block-1 a:hover:nth-child(4) .btn {
  background: #e85042;
}
.field-name-field-tag .field-item {
  margin: 10px;
}
.field-name-field-tag .field-items > * {
  display: inline-block;
}
.field-name-field-tag .field-item::before {
  content: "\f02b";
  font-size: 11em;
  font: normal normal normal 14px/1 FontAwesome;
  padding: 0 10px 0 0;
  color: #aaaaaa;
}
.node-type-novidades .node-novidades h2{
  display: none;
}
.date-in-parts span {
  display: block;
  width: 36px;
  font-style: normal;
  text-align: center;
}
.date-in-parts .day {
  padding: 6px;
  color: grey;
  background: #f5f5f5;
}
.node-novidades.node-teaser .field-name-field-imagem {
  margin-bottom: 20px;
}
.node-novidades.node-teaser .content h2, .node-novidades.node-teaser .content .submitted {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.date-in-parts .month {
  background: orange;
  color: white;
}
@media (max-width: 768px) {
  .navbar-fixed-top {
    display: none;
	}
	
}
@media (min-width: 768px) and (max-width: 992px) {
	.navbar-header, .navbar-header img {
		width: 160px;
	}
}